// Стили по умолчанию
* {
	box-sizing: border-box;
}

:root {
	font-size: 13px;

	@media screen and (max-width: 768px) {
		font-size: 11px;
	}

	@media screen and (min-width: 2000px) {
		font-size: 15px;
	}
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	color: $black;
	line-height: 1.4;
}

button {
	cursor: pointer;
	border: 0;
}

button:focus {
	outline: 0;
}

img {
	display: block;
}

a {
	text-decoration: none;
}

input:focus {
	outline: 0;
}

::selection {
	color: $white;
	background: lighten($pink, 20);
}
