/**
* Шрифты (не иконочные) загружаются во vue.config.js
* Иконочные (icomoon - просто вставленная в проект папка icomoon. скачанная
* с их сайта
*/

@import url("~@/assets/icomoon/style.css");

@font-face {
	font-family: "SourceSansPro-Black";
	src: url("~@/assets/fonts/SourceSansPro-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: bolder;
}

@font-face {
	font-family: "SourceSansPro-BlackItalic";
	src: url("~@/assets/fonts/SourceSansPro-BlackItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "SourceSansPro-Bold";
	src: url("~@/assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "SourceSansPro-BoldItalic";
	src: url("~@/assets/fonts/SourceSansPro-BoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "SourceSansPro-ExtraLight";
	src: url("~@/assets/fonts/SourceSansPro-ExtraLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SourceSansPro-ExtraLightItalic";
	src: url("~@/assets/fonts/SourceSansPro-ExtraLightItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "SourceSansPro-Italic";
	src: url("~@/assets/fonts/SourceSansPro-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "SourceSansPro-LightItalic";
	src: url("~@/assets/fonts/SourceSansPro-LightItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "SourceSansPro-Regular";
	src: url("~@/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SourceSansPro-SemiBold";
	src: url("~@/assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "SourceSansPro-SemiBoldItalic";
	src: url("~@/assets/fonts/SourceSansPro-SemiBoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: norboldmal;
}

* {
	font-family: "SourceSansPro-Regular", Arial, sans-serif;
}
