$white: white;
$white-dark: #fcfcfc;
$gray-lightish: #f1f3f5;
$gray-light: #0000000f;
$gray-lightest: #222c3626;
$gray: #b0b1b4;
$black: #000000;

$pink: #fe1060;
$pink-dark: darken($pink, 12);

$blue: #2686e6c4;
$blue-light: #8dbff1;
$blue-lightest: #f6f7fb;
