<template>
  <button
    class="ui-button"
    :class="theme"
    :style="{ height: height, width: width }"
    @click="onClick"
  >
    <slot />
  </button>
</template>

<script>
export default {
  name: "UiButton",

  props: {
    // primary, transparent
    theme: { type: String, default: "primary" },
    height: { type: String, default: "32px" },
    width: { type: String, default: "min-content" }
  },

  methods: {
    onClick() {
      this.$emit("click", event);
    }
  }
};
</script>

<style lang="scss" scoped>
.ui-button {
  border-radius: 100px;
  transition: 0.3s;
  padding: 0 20px;
  border: 1px solid transparent;
  white-space: nowrap;

  &.primary {
    color: $black;
    background: $pink;

    &:hover {
      background: $pink-dark;
    }
  }

  &.transparent {
    color: $gray;
    background: transparent;

    &:hover {
      color: $pink;
      border-color: $pink;
    }
  }
}
</style>
