<template>
  <DropdownEmpty
    class="ui-dropdown"
    :label="label"
    :trackBy="trackBy"
    :flow="flow"
    :multiple="multiple"
    :options="options"
    v-on="$listeners"
    :value="value"
    @input="$emit('input', $event)"
  >
    <template #default="{ isOpen }">
      <div
        class="ui-dropdown__content-wrapper"
        :class="{ opened: isOpen }"
        :style="{ width: width }"
      >
        <div class="ui-dropdown__content">
          <!-- Заголовок дропдауна -->
          <div class="ui-dropdown__title">{{ title }}</div>
          <!-- Если итем(ы) НЕ выбран(ы) -->
          <div class="ui-dropdown__selected-not" v-if="!isSelected">Не выбрано</div>
          <!-- Если итем(ы) выбран(ы) -->
          <div
            class="ui-dropdown__selected"
            v-else
            v-tooltip="value.length > 1 ? selectedFullText : ''"
          >{{ selectedText }}</div>
        </div>

        <!-- Каретка -->
        <div class="ui-dropdown__caret" :class="{ opened: isOpen }">
          <i class="icon-chevron-down" />
        </div>
      </div>
    </template>
  </DropdownEmpty>
</template>

<script>
/**
 * Это дропдаун, который крепится к чему угодно
 * В него посылается всё тож самое, что и в DropdownEmpty + title и width
 */

export default {
  name: "UiDropdown",

  inheritAttrs: false,

  props: {
    title: { type: String, default: "" },
    width: { type: String, default: "220px" },
    // какой ключ в объекте итема брать для вывода названия строки в дропдауне
    label: { type: String, default: "name" },
    // по какому ключу уникализировать строки
    trackBy: { type: String, default: "name" },
    // относительно чего размещать дропдаун
    flow: { type: String, default: "left" },
    // делать ли мультивыбор
    multiple: { type: Boolean, default: false },
    // итемы, из которых выбирать
    options: { type: Array, required: true },
    /**
     * Выбранный итем (или итемы)
     * Может быть и для одиночного выбора, и для множественного
     * Для одиночного можно null, для множ - []
     * @type {Object||Array}
     */
    value: {
      type: null,
      default() {
        return [];
      }
    }
  },

  components: {
    DropdownEmpty: () => import("@/ui-components/DropdownEmpty")
  },

  computed: {
    isSelected() {
      if (this.value) {
        return this.multiple ? this.value.length != 0 : true;
      } else {
        return false;
      }
    },

    selectedText() {
      if (this.multiple) {
        if (this.value.length > 1) {
          const lastText = " и еще " + (this.value.length - 1);
          return this.value[0][this.label] + lastText;
        } else {
          return this.value[0][this.label];
        }
      } else {
        return this.value[this.label];
      }
    },

    selectedFullText() {
      return this.value
        .map((selectedOption, index) => {
          if (index % 3 == 0 && index > 0) {
            return "<br />" + selectedOption[this.label];
          } else {
            return selectedOption[this.label];
          }
        })
        .join(", ");
    }
  }
};
</script>

<style lang="scss" scoped>
.ui-dropdown {
  &__content {
    &-wrapper {
      padding: 5px 10px;
      background: $gray-lightish;
      border-radius: 4px;
      border: 1px solid transparent;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &:hover,
      &.opened {
        transition: 0.3s;
        border-color: $pink;
      }
    }
  }

  &__title {
    font-size: 0.7692rem;
    color: $gray;
  }

  &__selected {
    &-not {
      color: $gray;
      white-space: nowrap;
    }
  }

  &__caret {
    transition: 0.3s;
    margin-left: 7px;
    font-size: 0.3846rem;

    &.opened {
      transform: rotate(-180deg);
    }
  }
}
</style>
