<template>
  <div class="ui-dropdown-empty" v-click-outside="onHide">
    <!-- К чему всё будет крепиться -->
    <div class="ui-dropdown-empty__slot" @click="onToggle()">
      <slot :isOpen="isOpen" :selected="selected" />
    </div>

    <!-- Всплывашка -->
    <transition name="slide-fade">
      <div class="ui-dropdown-empty__popup popup" v-show="isOpen">
        <div class="popup-inner">
          <p class="popup__item-all" v-if="multiple">Выбрать всё</p>

          <div
            class="popup__items"
            :class="{ 'popup__items-not-multiple' : !multiple}"
            v-prevent-parent-scroll
          >
            <p
              class="popup__item"
              v-for="(option, index) in options"
              :key="index"
              :active="isActive(option)"
              @click="onSelect(option)"
            >
              <span class="popup__item-text">{{ option[label] }}</span>
              <i class="popup__item-icon icon-success" v-if="isActive(option)" />
            </p>
          </div>

          <div class="popup__buttons">
            <Button class="popup__buttons-cancel" @click="onCancel()" theme="transparent">Отмена</Button>
            <Button class="popup__buttons-ok" @click="onSubmit()">Ок</Button>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
/**
 * Это дропдаун, который крепится к чему угодно
 */

export default {
  name: "UiDropdown",

  props: {
    // какой ключ в объекте итема брать для вывода названия строки в дропдауне
    label: { type: String, default: "name" },
    // по какому ключу уникализировать строки
    trackBy: { type: String, default: "name" },
    // относительно чего размещать дропдаун
    flow: { type: String, default: "left" },
    // делать ли мультивыбор
    multiple: { type: Boolean, default: false },
    // итемы, из которых выбирать
    options: { type: Array, required: true },
    /**
     * Выбранный итем (или итемы)
     * Может быть и для одиночного выбора, и для множественного
     * Для одиночного можно null, для множ - []
     * @type {Object||Array}
     */
    value: {
      type: null,
      default() {
        return [];
      }
    }
  },

  components: {
    Button: () => import("@/ui-components/Button")
  },

  data() {
    return {
      isOpen: false,
      selected: null
    };
  },

  watch: {
    value(newVal) {
      if (this.multiple) {
        this.selected = newVal || [];
      } else {
        this.selected = newVal;
      }
    }
  },

  mounted() {
    if (this.multiple) {
      this.selected = this.value || [];
    } else {
      this.selected = this.value;
    }
  },

  methods: {
    // Открыть/закрыть дропдаун
    onToggle() {
      this.isOpen = !this.isOpen;
    },

    // Закрыть дропдаун
    onHide() {
      this.isOpen = false;
    },

    // Выбран ли элемент
    isActive(option) {
      if (this.multiple) {
        return this.isActiveMultiple(option);
      } else {
        return this.isActiveSingle(option);
      }
    },

    isActiveMultiple(option) {
      if (this.selected && this.selected.length != 0) {
        return (
          this.selected.filter(
            selectedOption => selectedOption[this.trackBy] == option[this.trackBy]
          ).length != 0
        );
      } else {
        return false;
      }
    },

    isActiveSingle(option) {
      if (this.selected) {
        return this.selected[this.trackBy] == option[this.trackBy];
      } else {
        return false;
      }
    },

    // Выбрать элемент
    onSelect(option) {
      if (this.multiple) {
        this.onSelectMultiple(option);
      } else {
        this.onSelectSingle(option);
      }
    },

    onSelectMultiple(option) {
      if (this.isActive(option)) {
        this.selected = this.selected.filter(
          selectedOption => selectedOption[this.trackBy] != option[this.trackBy]
        );
      } else {
        this.selected.push(option);
      }
    },

    onSelectSingle(option) {
      if (this.isActive(option)) {
        this.selected = null;
      } else {
        this.selected = option;
      }
    },

    // Подтвердить выбор
    onSubmit() {
      this.$emit("input", this.selected);
      this.onToggle();
    },

    // Отменить выбор
    onCancel() {
      this.$emit("input", this.value);
      // this.selected = this.value;
      this.onToggle();
    }
  }
};
</script>

<style lang="scss" scoped>
// плавная выплывашка
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.2s ease;
}
.slide-fade-enter {
  transform: translateY(-20px);
  opacity: 0;
}
.slide-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.ui-dropdown-empty {
  position: relative;
  box-sizing: content-box;
  display: block;

  &__slot {
    cursor: pointer;
  }

  // Этих штук может быть несколько (попап в попапе), поэтому отдельным классом
  .popup {
    position: absolute;

    // display: block;
    // background: #fff;
    // width: 100%;
    // max-height: 240px;
    // overflow: auto;
    // border: 1px solid #e8e8e8;
    // border-top: none;
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;
    // z-index: 50;
    // -webkit-overflow-scrolling: touch;

    // bottom: 100%;

    width: 100%;
    min-width: 150px;
    z-index: 9999;

    // z-index: 10030 !important;

    &:before {
      content: "";
      position: absolute;
      display: block;
      border: 9px solid transparent;
      z-index: 999;
      left: calc(50% - 10px);
      top: -5px;
      border-bottom-color: $white;
    }

    &-inner {
      background: $white;
      box-shadow: 7px 5px 20px #222c3626;
      border-radius: 5px;

      // list-style: none;
      // display: inline-block;
      // padding: 0;
      // margin: 0;
      // min-width: 100%;
      // vertical-align: top;
    }

    &__item-all {
      padding: 20px;
      padding-bottom: 0;
      margin-bottom: 10px;

      &:hover {
        transition: 0.3s;
        cursor: pointer;
        color: $pink;
      }

      &[active] {
        color: $pink;
      }
    }

    &__items {
      padding: 0 20px;
      margin-bottom: 20px;
      max-height: 200px;
      overflow: auto;

      &-not-multiple {
        padding-top: 15px;
        margin-top: 13px;
      }
    }

    .popup__item + .popup__item {
      margin-top: 10px;
    }

    &__item {
      margin: 0;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;

      display: flex;
      justify-content: space-between;

      &-icon {
        color: $pink;
        font-size: 0.6154rem;
      }

      &-text {
        overflow: hidden;
      }

      &:hover {
        transition: 0.3s;
        cursor: pointer;
        color: $pink;
      }

      &[active] {
        color: $pink;
      }
    }

    &__buttons {
      display: flex;
      justify-content: flex-end;
      padding: 0 10px 20px;

      & > * + * {
        margin-left: 3px;
      }

      &-cancel {
        border-color: $gray-lightish;
      }

      .ui-button {
        padding: 4px 14px;
      }
    }
  }
}
</style>
