<template>
  <Responsive :breakpoints="{ small: el => el.width <= 200 }">
    <div class="ui-input" slot-scope="el">
      <div class="ui-input__label">
        <slot name="label" />
      </div>

      <div class="ui-input__content">
        <!-- Значок слева от инпута -->
        <div class="ui-input__icon ui-input__icon-before">
          <slot name="icon-before" />
        </div>
        <!-- Поле ввода. Надо добавить v-model и туда значение через computed -->
        <input
          class="ui-input__input"
          v-model="innerValue"
          v-bind="attrs"
          :placeholder="placeholder"
          :style="{ width: width }"
          v-tooltip="el.is.small ? placeholder : ''"
        />
        <!-- Значок справа от инпута -->
        <div class="ui-input__icon ui-input__icon-after">
          <slot name="icon-after" />
        </div>
      </div>
    </div>
  </Responsive>
</template>

<script>
export default {
  name: "UiInput",

  props: {
    // Тип вводимого значения
    type: { type: String, default: "text" },
    // min и max для number
    min: { type: Number, default: null },
    max: { type: Number, default: null },
    // Значение, может быть числом или строкой
    value: { type: [Number, String], default: "" },
    placeholder: { type: String, default: "" },
    readonly: { type: Boolean, default: false },
    width: { type: String, default: "220px" },
    // Кнопка не кликабельна (серое оформление)
    disabled: { type: Boolean, default: false }
  },

  computed: {
    innerValue: {
      get() {
        return this.value;
      },

      set(value) {
        this.$emit("input", value);
      }
    },

    attrs() {
      const { type, placeholder, readonly, disabled, min, max } = this;

      return {
        type,
        placeholder,
        readonly,
        disabled,
        min,
        max,
        step: "0.00000000001"
      };
    }
  }
};
</script>

<style lang="scss" scoped>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.ui-input {
  &__content {
    position: relative;
    z-index: 1;
  }

  &__input {
    border-radius: 100px;
    border: 1px solid transparent;
    background: $gray-lightish;
    padding: 10px 40px;

    &::placeholder {
      color: $gray;
    }

    &:hover,
    &:focus {
      transition: 0.3s;
      border-color: $pink;
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;

    &-before {
      top: calc(50% - 10px);
      left: 10px;
    }

    &-after {
      top: calc(50% - 10px);
      right: 10px;
    }
  }
}
</style>
