<template>
  <div class="ui-table-wrapper">
    <table class="ui-table">
      <!-- Шапка -->
      <thead class="ui-table__header-wrapper">
        <tr class="ui-table__header">
          <th
            class="ui-table__header-cell"
            v-for="(headerItem, index) in header"
            :key="index"
          >{{ headerItem.title }}</th>
        </tr>
      </thead>
      <!-- Строки -->
      <tbody class="ui-table__row-wrapper">
        <tr class="ui-table__row" v-for="(row, index) in rows" :key="index">
          <td
            class="ui-table__row-cell"
            v-for="(cell, index2) in row"
            :key="index2"
          >{{ cell | numberFormat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "UiTable",

  data() {
    return {
      // Шапка
      header: {
        total: { title: "Выручка итого" },
        jan: { title: " Янв" },
        feb: { title: "Фев" },
        mar: { title: "Мар" },
        apr: { title: "Апр" },
        may: { title: "Май" },
        jun: { title: "Июн" },
        jul: { title: "Июл" },
        aug: { title: "Авг" },
        sep: { title: "Сен" },
        oct: { title: "Окт" },
        nov: { title: "Ноя" },
        dec: { title: "Дек" }
      },
      // Строки
      rows: [
        {
          total: 320310345,
          jan: 310310345,
          feb: 310310345,
          mar: 310310345,
          apr: 310310345,
          may: 310310345,
          jun: 310310345,
          jul: 310310345,
          aug: 310310345,
          sep: 310310345,
          oct: 310310345,
          nov: 310310345,
          dec: 310310345
        },
        {
          total: 320310345,
          jan: 310310345,
          feb: 310310345,
          mar: 310310345,
          apr: 310310345,
          may: 310310345,
          jun: 310310345,
          jul: 310310345,
          aug: 310310345,
          sep: 310310345,
          oct: 310310345,
          nov: 310310345,
          dec: 310310345
        }
      ]
    };
  },

  filters: {
    numberFormat(value) {
      const formatter = new Intl.NumberFormat("ru-RU", {
        minimumFractionDigits: 0
      });

      return formatter.format(Number(value).toFixed(2));
    }
  }
};
</script>

<style lang="scss" scoped>
.ui-table {
  font-size: 0.9231rem;
  text-align: right;
  width: 100%;
  border-collapse: collapse;

  &-wrapper {
    position: relative;
    z-index: 1;

    display: block;
    width: 100%;
    overflow-x: auto;
  }

  &__header {
    &-cell {
      color: $gray;
      font-weight: normal;
      white-space: nowrap;
      padding: 7px 0 7px 15px;
    }
  }

  &__row {
    &-cell {
      padding: 7px 0 7px 15px;

      & + & {
        padding-left: 60px;
      }
    }
  }
}
</style>
