@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9ige3f');
  src:  url('fonts/icomoon.eot?9ige3f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9ige3f') format('truetype'),
    url('fonts/icomoon.woff?9ige3f') format('woff'),
    url('fonts/icomoon.svg?9ige3f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e903";
}
.icon-success:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-bell:before {
  content: "\e916";
}
