<template>
  <div class="directions">
    <div class="directions__header">
      <Dropdown
        class="directions__dropdown"
        v-model="selectedItems"
        :options="options"
        title="Данные"
        multiple
      />
      <Dropdown
        class="directions__dropdown"
        v-model="selectedItems"
        :options="options"
        title="Период"
        multiple
      />
      <Dropdown
        class="directions__dropdown"
        v-model="selectedItems"
        :options="options"
        title="Город"
        multiple
      />

      <div class="directions__plug" />

      <!-- Поле ввода -->
      <div class="directions__search">
        <Input
          placeholder="Добавить условие или найти"
          width="336px"
          v-model="search"
          @keyup.enter.native="onSearch"
        >
          <!-- Значок слева инпута -->
          <template #icon-before>
            <DropdownEmpty :options="searchItems" v-model="selectedSearchItem">
              <div class="directions__search-icon-before">+</div>
            </DropdownEmpty>
          </template>
          <!-- Знакчок справа инпута -->
          <template #icon-after>
            <button class="directions__search-button" @click="onSearch">
              <i class="directions__search-icon-after icon-search" />
            </button>
          </template>
        </Input>
      </div>
    </div>

    <!-- Всё, что касается таблицы -->
    <div class="directions__table">
      <h2 class="directions__table-title">Текущий бюджет</h2>

      <Table />
      <Table />
      <Table />
      <Table />
      <Table />
      <Table />
      <Table />
      <Table />
      <Table />
    </div>
  </div>
</template>

<script>
export default {
  name: "Directions",

  components: {
    Dropdown: () => import("@/ui-components/Dropdown"),
    DropdownEmpty: () => import("@/ui-components/DropdownEmpty"),
    Input: () => import("@/ui-components/Input"),
    Table: () => import("@/ui-components/Table")
  },

  data() {
    return {
      search: "",
      searchItems: [
        { name: "Оператор" },
        {
          name: "Тип",
          items: [{ name: "RussOutDoor" }, { name: "Gallery" }, { name: "Мосреклама" }]
        }
      ],
      selectedSearchItem: "",
      selectedItems: [],
      options: [
        { name: "Москва" },
        { name: "Санкт-Петербург" },
        { name: "Санкт-Петербург3" },
        { name: "Санкт-Петербург4" },
        { name: "Санкт-Петербург5" },
        { name: "Санкт-Петербург6" },
        { name: "Санкт-Петербург7" },
        { name: "Санкт-Петербург8" },
        { name: "Санкт-Петербург66" },
        { name: "Санкт-Петербург76" },
        { name: "Санкт-Петербург86" }
      ]
    };
  },

  methods: {
    onSearch() {
      alert("Нажали на кнопку поиска или на enter");
    }
  }
};
</script>

<style lang="scss" scoped>
.directions {
  &__header {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    & > * {
      margin-bottom: 10px;
    }
  }

  &__dropdown {
    margin-right: 10px;
  }

  &__plug {
    flex: 1;
  }

  &__search {
    &-icon {
      &-before {
        background: $pink;
        color: $white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 16px;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          transition: 0.3s;
          cursor: pointer;
          background: $pink-dark;
        }
      }

      &-after {
        color: $gray;
        font-size: 13px;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-button {
      margin-top: -5px;
      margin-right: 0px;
      border: 1px solid transparent;
      border-radius: 50%;
      padding: 7px;

      &:hover {
        transition: 0.3s;
        cursor: pointer;
        border-color: $pink;

        .directions__search-icon-after {
          transition: 0.3s;
          color: $pink;
        }
      }
    }
  }

  &__table {
    margin-top: 40px;
    // width: calc(100% - 240px);

    &-title {
      font-weight: normal;
    }
  }
}

@media (max-width: 992px) {
  .directions {
    &__table {
      margin-top: 40px;
    }
  }
}

@media (max-width: 768px) {
  .directions {
    &__search {
      // width: 180px !important;

      /deep/.ui-input__input {
        width: 180px !important;
      }
    }
  }
}
</style>
