<template>
  <div class="header">
    <h1 class="header__title">Финансовая аналитика</h1>

    <div class="header__buttons">
      <i class="header__notifies icon-bell" />
      <User class="header__user" />
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderComponent",

  components: {
    User: () => import("./User")
  }
};
</script>

<style lang="scss" scoped>
.header {
  padding: 0 25px;
  background: $white;
  border-radius: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 1.5385rem;
    font-weight: normal;
    margin: 16px 10px 16px 0;
  }

  &__buttons {
    display: flex;
    align-items: center;

    & > * + * {
      margin-left: 40px;
    }
  }

  &__notifies {
    font-size: 1.3846rem;

    &:hover {
      transition: 0.3s;
      cursor: pointer;
      color: $pink;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 5px 15px;

    &__title {
      font-size: 1.3846rem;
      margin: 8px 5px 8px 0;
    }

    &__buttons {
      & > * + * {
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    &__title {
      font-size: 1.0769rem;
      font-weight: bold;
    }
  }
}
</style>
