<template>
  <div class="header-user">
    <!-- Если нет аватарки, генерировать из имени -->
    <AppImage
      v-if="user.avatar"
      class="header-user__avatar"
      :lazy-src="user.avatar"
      :lazy-srcset="user.avatar"
      :width="34"
      :height="34"
      alt="avatar"
    />
    <div class="header-user__avatar" v-else>{{ acronym }}</div>

    <p class="header-user__name">{{ name }}</p>
  </div>
</template>

<script>
export default {
  name: "HeaderUserComponent",

  components: {
    AppImage: () => import("@/ui-components/AppImage")
  },

  data() {
    return {
      user: {
        avatar: "",
        firstName: "Дмитрий",
        lastName: "Казаков"
      }
    };
  },

  computed: {
    acronym() {
      return this.user.firstName[0] + this.user.lastName[0];
    },

    name() {
      return this.user.firstName + " " + this.user.lastName;
    }
  }
};
</script>

<style lang="scss" scoped>
.header-user {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 7px;
  }

  &:hover {
    cursor: pointer;

    .header-user__name {
      transition: 0.3s;
      color: $pink;
    }
  }

  &__avatar {
    border-radius: 50%;
    background: $gray-lightish;
    min-width: 34px;
    height: 34px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .header-user {
    &__name {
      display: none;
    }
  }
}
</style>
