<template>
  <Responsive
    :breakpoints="{
      small: el => el.width <= 990,
      'x-small': el => el.width <= 800
    }"
  >
    <div slot-scope="el" class="menu" :class="{ small: el.is.small }">
      <div class="menu__items">
        <Button
          class="menu__item"
          :active="isActive(item)"
          v-for="(item, index) in items"
          :key="index"
          :theme="isActive(item) ? 'primary' : 'transparent'"
        >{{ item.name }}</Button>
      </div>

      <Button
        class="menu__slice"
        theme="transparent"
        :class="{ small: el.is['x-small'] }"
        v-tooltip="el.is['x-small'] ? 'Создать срез' : ''"
        :width="el.is['x-small'] ? '35px' : 'max-content'"
        :height="el.is['x-small'] ? '35px' : '32px'"
      >
        <span class="menu__slice-icon">+</span>
        <span class="menu__slice-text">Создать срез</span>
      </Button>
    </div>
  </Responsive>
</template>

<script>
export default {
  name: "MenuComponent",

  components: {
    Button: () => import("@/ui-components/Button")
  },

  data() {
    return {
      items: [
        { name: "Общие данные" },
        { name: "Бюджет" },
        { name: "Клиент" },
        { name: "Менеджеры" },
        { name: "Направления" },
        { name: "Операторы" },
        { name: "Условия" }
      ]
    };
  },

  methods: {
    isActive(item) {
      // тут надо нормальное условие написать
      return item.name == "Направления";
    }
  }
};
</script>

<style lang="scss">
.menu {
  padding: 4px;
  background: $white;
  border-radius: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &.small {
    border-radius: 14px;
    padding-left: 10px;
    padding-right: 7px;

    .menu__item {
      margin-top: 2px;
      margin-bottom: 2px;

      @media (max-width: 576px) {
        padding: 0 9px;
      }
    }
  }

  &__item {
    margin-right: 5px;

    &[active] {
      pointer-events: none;
    }
  }

  &__slice {
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      display: flex;
      align-items: center;
    }

    & > * + * {
      margin-left: 4px;
    }

    &.small {
      padding: 0 9px !important;

      .menu__slice-text {
        display: none;
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid $pink;
      border-radius: 50px;
      width: 16px;
      height: 16px;
      font-size: 1.5385rem;
      color: $pink;
    }
  }
}
</style>
