<template>
  <div class="sidebar" :class="{ 'small-window': isSmallWindow, closing: !isOpen }">
    <div class="sidebar__header">
      <!-- Лого -->
      <transition name="fade">
        <AppImage
          v-if="isOpen && !isSmallWindow"
          class="sidebar__logo"
          :lazy-src="logoSrc"
          :lazy-srcset="logoSrc2x"
          :width="105"
          :height="52"
          alt="logo"
        />
      </transition>
      <!-- Выбор проекта на маленьких проектах -->
      <Button
        v-if="isSmallWindow"
        class="sidebar__project-button"
        @click="onToggleProjectDropdown()"
        theme="transparent"
      >Проект</Button>
      <!-- Выбор проекта -->
      <transition name="fade">
        <Dropdown
          v-if="(isSmallWindow && isProjectDropdownOpen) || (!isSmallWindow && isOpen)"
          class="sidebar__project-dropdown"
          title="Проект"
          width="100%"
          v-model="project"
          :options="options"
        />
      </transition>
    </div>

    <!-- Меню -->
    <Menu
      class="sidebar__menu"
      :small="!(!isSmallWindow && isOpen)"
      :tooltipPosition="isSmallWindow ? 'bottom' : 'right'"
    />
    <!-- Заглушка, чтобы кнопка ниже была в самом низу -->
    <div class="sidebar__plug" />
    <!-- Штука, которая сворачивает/разворачивает панель -->
    <Button
      class="sidebar__opener"
      :class="isOpen ? 'mirror' : ''"
      @click="onToggle"
      theme="transparent"
      width="40px"
      height="40px"
    >
      <i class="sidebar__opener-icon icon-chevron-down" />
    </Button>
  </div>
</template>

<script>
export default {
  name: "SidebarComponent",

  components: {
    Menu: () => import("./Menu"),
    Dropdown: () => import("@/ui-components/Dropdown"),
    Button: () => import("@/ui-components/Button"),
    AppImage: () => import("@/ui-components/AppImage")
  },

  data() {
    return {
      isOpen: true,
      // Для маленьких экранов
      isProjectDropdownOpen: false,
      windowWidth: window.innerWidth,
      project: null,
      options: [{ name: "Проект 1" }, { name: "Проект 2" }, { name: "Проект 3" }]
    };
  },

  computed: {
    logoSrc() {
      return require("@/assets/images/logo.png");
    },

    logoSrc2x() {
      return require("@/assets/images/logo@2x.png");
    },

    isSmallWindow() {
      return this.windowWidth <= 768;
    }
  },

  mounted() {
    this.$nextTick(() => {
      window.addEventListener("resize", this.onResize);
    });
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },

  methods: {
    onResize(e) {
      this.windowWidth = window.innerWidth;
    },

    onToggle() {
      this.isOpen = !this.isOpen;
    },

    onToggleProjectDropdown() {
      this.isProjectDropdownOpen = !this.isProjectDropdownOpen;
    }
  }
};
</script>

<style lang="scss" scoped>
// плавное появление блоков
.fade-enter-active {
  transition: opacity 0.3s ease-in;
}
.fade-enter {
  opacity: 0;
}

.sidebar {
  padding: 3px 25px;
  background: $white;
  border-radius: 14px;
  width: 240px;
  transition: width 0.3s;

  display: flex;
  flex-direction: column;

  // Просто свернуто
  &.closing {
    width: 60px;
    padding: 3px 5px;

    .sidebar__menu {
      margin-top: 40px;
    }

    .sidebar__opener {
      margin: 10px auto;
    }

    /deep/.sidebar-menu__logo {
      width: 28px;
    }
  }

  // Маленький экран
  &.small-window {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    width: calc(100% - 20px);
    padding: 3px 5px;
    margin-bottom: 0 !important;

    .sidebar__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .sidebar__logo {
      height: min-content;
      margin-left: 15px;
    }

    .sidebar__project-button {
      padding: 5px 7px !important;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .sidebar__project-dropdown {
      margin: 5px;
      width: 120px;
    }

    /deep/.sidebar__menu {
      margin: 0;
      height: min-content;
      flex-direction: row;

      & > * + * {
        margin: 0;
        margin-left: 5px;
      }
    }

    .sidebar__opener {
      margin: 10px auto;
    }

    /deep/.sidebar-menu__logo {
      width: 20px;
      height: 20px;
    }
  }

  &__logo {
    width: 105px;
  }

  &__project-dropdown {
    margin-top: 32px;
    margin-bottom: 40px;
  }

  &__plug {
    flex: 1;
  }

  &__opener {
    margin: 10px 0 20px auto;
    transform: rotate(-90deg);

    &.mirror {
      transform: rotate(90deg);
    }

    &.ui-button {
      padding: 0;
      border: 1px solid $gray-lightish;
    }

    &-icon {
      font-size: 0.6154rem;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    &__opener {
      display: none;
    }
  }
}
</style>
