<template>
  <div class="sidebar-menu">
    <!-- Сейчас active захардкожено!!! -->
    <div
      class="sidebar-menu__item"
      v-for="(item, index) in items"
      :key="index"
      :disabled="item.disabled"
      :active="item.name == 'Конструкции'"
    >
      <AppImage
        class="sidebar-menu__logo"
        :class="{ small : small }"
        :lazy-src="item.icon"
        :lazy-srcset="item.icon"
        :width="small ? 28 : 18"
        alt="menu icon"
        v-tooltip="{ content: small ? item.name : '', placement: tooltipPosition }"
      />
      <div v-if="!small" class="sidebar-menu__text">{{ item.name }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SidebarMenuComponent",

  props: {
    // Свернутое состояние
    small: { type: Boolean, default: false },
    tooltipPosition: { type: String, default: "right" }
  },

  components: {
    AppImage: () => import("@/ui-components/AppImage")
  },

  data() {
    return {
      // сюда потом можно добавить pathName в каждый итем :)
      // Пример, как юзать блокирование:
      // { name: "ФФФ", icon: require("@/assets/svg/settings.svg"), disabled: true }
      // Свойство active надо придумать, как активировать при переходе на страницу с помощью js :)
      items: [
        { name: "Аналитика", icon: require("@/assets/svg/dashboard.svg") },
        { name: "Конструкции", icon: require("@/assets/svg/clipboard.svg") },
        { name: "Клиенты", icon: require("@/assets/svg/copy.svg") },
        { name: "Пользователи", icon: require("@/assets/svg/user.svg") },
        { name: "Настройки", icon: require("@/assets/svg/settings.svg") }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.sidebar-menu {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: row;

    padding: 10px;
    color: $gray;

    &[disabled] {
      pointer-events: none;
    }

    &[active],
    &:hover {
      transition: 0.3s;
      cursor: pointer;
      background: $gray-lightish;
      color: $black;
      border-radius: 4px;
    }

    &[active] {
      pointer-events: none;
    }

    & + & {
      margin-top: 5px;
    }

    & > * + * {
      margin-left: 20px;
    }
  }

  &__logo {
    width: 18px;

    &.small {
      width: 28px;
    }
  }

  &__text {
    margin-top: 2px;
  }
}
</style>
