<template>
  <div id="app">
    <Sidebar class="app__sidebar" />

    <div class="app__content-wrapper">
      <div class="app__content">
        <div class="app__header">
          <Header />
          <div class="app__header-bottom" />
        </div>

        <Menu class="app__menu" />
        <!-- Тут вместо Directions надо поставить router-view при разработке -->
        <Directions class="app__route" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {
    Directions: () => import("@/views/Directions"),
    Sidebar: () => import("@/components/Sidebar"),
    Header: () => import("@/components/Header"),
    Menu: () => import("@/components/Menu")
  }
};
</script>

<style lang="scss">
#app {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $gray-lightish;
  padding: 0;

  .app {
    &__sidebar {
      position: sticky;
      z-index: 1;
      top: 0;
      margin: 10px;
      margin-right: 0;
    }

    &__content {
      display: flex;
      flex-direction: column;

      padding-right: 10px;
      padding-left: 10px;
      width: 100%;
      height: 100%;

      &-wrapper {
        margin: 10px 0;
        border-radius: 14px;
        overflow: auto;

        flex: 1;
      }
    }

    &__header {
      position: sticky;
      top: 0px;
      z-index: 2;

      &-bottom {
        height: 10px;
        width: 100%;
        background: $gray-lightish;
      }
    }

    &__route {
      margin-top: 10px;
      padding: 20px 25px;
      background: $white;
      border-radius: 14px;
      flex: 1;
    }
  }
}

@media (max-width: 768px) {
  #app {
    display: flex;
    flex-direction: column;

    .app {
      &__header {
        position: static !important;
      }

      &__route {
        padding: 20px 15px;
      }
    }
  }
}
</style>
